**/__pycache__/
*.py[oc]
*.egg-info/
*:Zone.Identifier
*.out

tests/analysis_utils/*.pkl

tests/simulation/data/*.csv
tests/simulation/data/*.pkl
tests/simulation/data/mc_results/*.csv
tests/simulation/data/mc_results/*.json
tests/simulation/data/mc_results/*.pkl
tests/simulation/data/mc_results/*/
tests/simulation/data/test_checkpoint2/test_trial/*.json

tests/policies/data/*.json

tests/training_scripts/training_results_*
tests/training_scripts/mc_results/*
tests/ray/exp_name
tests/ray/exp_name/tuner.pkl
tests/ray/exp_name/trainable.pkl
tests/common/data/*

issues/iss81/*